body.tranquility
{ 
  font-family:Univers,Scala,Georgia,Verdana,Times,Helvetica; 
  text-align:justify;
  line-height:140%;  
}

div.tranquility_masker
{ 
  top:0;
  left:0;
  width:100%;  
  height:100%;
  background-color:silver;
  visibility: hidden;
  z-index: 9999985;
  opacity:.7;
  position: fixed;
}
 
div.tranquility_container
{ 
  margin:0 auto; 
  padding:10px;
  width:70%;
  font-family:Univers,Scala,Georgia,Verdana,Times,Helvetica; 
  text-align:justify;
  line-height:140%;  
  /*border-radius: 20px;*/
}

div.tranquility_innercontainer 
{
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  margin-top: 60px;
  font-family:Univers,Scala,Georgia,Verdana,Times,Helvetica; 
  text-align:justify;
  line-height:140%;  
}  

div.tranquility 
{
  font-family:Univers,Scala,Georgia,Verdana,Times,Helvetica; 
  text-align:justify;
  line-height:140%;  
  padding-top: 5px;
  padding-bottom: 5px;
} 

div.tranquility_links
{
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  font-family:Univers,Scala,Georgia,Verdana,Times,Helvetica; 
  font-size:18px;
  text-align:left; 
  line-height:140%;  
  border-left: solid 2px silver;
  border-top: solid 2px silver;
  border-bottom: solid 2px silver;
  border-right: solid 2px silver;
  left: 30%;
  width:40%;
  top: 0px;
  height: 98%;
  z-index: 9999990;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  visibility: hidden;
  background-color: #FFFFFF; 
}  

div.tranquility_offline_links
{
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  font-family:Univers,Scala,Georgia,Verdana,Times,Helvetica; 
  font-size:18px;
  text-align:left; 
  line-height:140%;  
  border-left: solid 2px silver;
  border-top: solid 2px silver;
  border-bottom: solid 2px silver;
  border-right: solid 2px silver;
  left: 30%;
  width:40%;
  top: 0px;
  height: 98%;
  z-index: 9999990;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  visibility: hidden;
  background-color: #FFFFFF; 
}  

div.tranquility_nav_links
{
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  font-family:Univers,Scala,Georgia,Verdana,Times,Helvetica; 
  text-align:right; 
  line-height:140%;  
  border-left: solid 2px silver;
  border-top: solid 2px silver;
  border-bottom: solid 2px silver;
  border-right: solid 2px silver;
  border-radius: 20px;
  right:100%;
  background-color:silver; 
}

span.tranquility 
{
  font-family:Univers,Scala,Georgia,Verdana,Times,Helvetica; 
  text-align:justify;
  line-height:140%;  
} 

table.tranquility 
{
  font-family:Univers,Scala,Georgia,Verdana,Times,Helvetica; 
  text-align:justify;
  line-height:140%;  
} 

p.tranquility 
{ 
  font-family:Univers,Scala,Georgia,Verdana,Times,Helvetica; 
  text-align:justify;
  line-height:140%;  
} 

pre.tranquility_pre
{
  width: 100%;
  overflow: auto;
  line-height:140%;  
  white-space: pre-wrap;
  word-break: keep-all;
}

li.tranquility 
{ 
  font-family:Univers,Scala,Georgia,Verdana,Times,Helvetica; 
  text-align:justify;
  line-height:140%;  
} 

font.tranquility 
{ 
  font-family:Univers,Scala,Georgia,Verdana,Times,Helvetica;
  text-align:justify;
  line-height:140%;  
} 

iframe.tranquility_dictionary
{
  font-family:Univers,Scala,Georgia,Verdana,Times,Helvetica; 
  text-align:justify;
  line-height:140%;  
  border-left: solid 5px silver;
  border-top: solid 5px silver;
  border-bottom: solid 5px silver;
  border-right: solid 5px silver;
  border-radius: 15px;
  top:15%;
  height: 70%;
  z-index: 9999990;
  position: fixed;
}

div.tranquility_more_links_btn
{
  font-family: Univers,Scala,Georgia,Verdana,Times,Helvetica; 
  font-size: 20px;
  width: 120px;
  height: 30px;
  z-index: 9999980;
  border-left: solid 1px silver;
  border-right: solid 1px silver;
  border-radius: 20px;
  text-align: center;
  float: left;
  margin: 0 10px 10px 0;
}

div.tranquility_read_later_btn
{
  font-family: Univers,Scala,Georgia,Verdana,Times,Helvetica; 
  font-size: 20px;
  width: 120px;
  height: 30px;
  z-index: 9999980;
  border-left: solid 1px silver;
  border-right: solid 1px silver;
  border-radius: 20px;
  text-align: center;
  float: left;
  margin: 0 10px 10px 0;
}

div.tranquility_offline_links_btn
{
  font-family: Univers,Scala,Georgia,Verdana,Times,Helvetica; 
  font-size: 20px;
  width: 150px;
  height: 30px;
  z-index: 9999980;
  border-left: solid 1px silver;
  border-right: solid 1px silver;
  border-radius: 20px;
  text-align: center;
  float: left;
  margin: 0 10px 10px 0;
}

div.tranquility_viewnotes_btn
{
  font-family: Univers,Scala,Georgia,Verdana,Times,Helvetica; 
  font-size: 20px;
  width: 120px;
  height: 30px;
  z-index: 9999980;
  border-left: solid 1px silver;
  border-right: solid 1px silver;
  border-radius: 20px;
  text-align: center;
  float: left;
  margin: 0 10px 10px 0;
}

div.tranquility_expand_menu_btn
{
  font-family: Univers,Scala,Georgia,Verdana,Times,Helvetica; 
  font-size: 20px;
  width: 20px;
  height: 20px;
  z-index: 9999980;
  text-align: right;
  padding-top: 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

div.tranquility_menu
{
  font-family: Univers,Scala,Georgia,Verdana,Times,Helvetica; 
  border-bottom: solid 1px silver;
  border-top: solid 1px silver;
  text-align: justify;
  position: fixed;
  height: 50px;
  bottom: 0px;  
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 0px;
  padding-bottom: 0px;
  z-index: 9999980;
  transition: height 0.5s;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-evenly;
}

span.tranquility_annotation
{
  font-family:Univers,Scala,Georgia,Verdana,Times,Helvetica; 
  font-size:18px;
  text-align:justify;
  line-height:140%;  
  padding-bottom: 1px;
}

span.tranquility_annotation_selection
{
  font-family:Univers,Scala,Georgia,Verdana,Times,Helvetica; 
  text-align:justify;
  line-height:140%;  
  padding-bottom: 1px;
}

p.tranquility_annotation_text
{
  display: none;
  white-space: pre-wrap;
}

p.tranquility_annotation_note
{
  display: inline;
  white-space: pre-wrap;
}

p.tranquility_view_notes
{
  display: inline;
  white-space: pre-wrap;
}

div.tranquility_annotation_entry
{
  font-family:Univers,Scala,Georgia,Verdana,Times,Helvetica; 
  text-align:center;
  line-height:140%;  
  border-left: solid 5px silver;
  border-top: solid 5px silver;
  border-bottom: solid 5px silver;
  border-right: solid 5px silver;
  border-radius: 15px;
  top: 25%;
  height: 50%;
  z-index: 9999990;
  position: fixed;
  background-color:#FFFFFF; 
}

div.tranquility_annotation_note
{
  font-family:Univers,Scala,Georgia,Verdana,Times,Helvetica; 
  text-align:justify;
  line-height:140%;  
  border-left: solid 5px silver;
  border-top: solid 5px silver;
  border-bottom: solid 5px silver;
  border-right: solid 5px silver;
  border-radius: 15px;
  overflow-x: hidden;
  overflow-y: scroll;
  top: 30%;
  height: 40%;
  z-index: 9999990;
  position: fixed;
  visibility: hidden;
  display: inline;
  white-space: pre-wrap;
  background-color:#FFFFFF; 
  padding: 15px;
}

div.tranquility_view_notes
{
  font-family:Univers,Scala,Georgia,Verdana,Times,Helvetica; 
  text-align:justify;
  line-height:140%;  
  border-left: solid 5px silver;
  border-top: solid 5px silver;
  border-bottom: solid 5px silver;
  border-right: solid 5px silver;
  border-radius: 15px;
  overflow-x: hidden;
  overflow-y: scroll;
  top: 20%;
  height: 60%;
  z-index: 9999990;
  position: fixed;
  visibility: hidden;
  background-color:#FFFFFF; 
  padding: 15px;
}

div.tranquility_add_annotation
{
  font-family:Univers,Scala,Georgia,Verdana,Times,Helvetica; 
  text-align:justify;
  line-height:140%;  
  border-left: solid 5px silver;
  border-top: solid 5px silver;
  border-bottom: solid 5px silver;
  border-right: solid 5px silver;
  border-radius: 15px;
  top:25%;
  height: 50%;
  z-index: 9999990;
  position: fixed;
}

textarea.tranquility_annotation_textarea
{
  width: 70%;
  height: 70%;
  overflow-y: scroll;
  resize: none;
}

div.tranquility_progress_bar
{
  background-color: #32CD32;
  top: 50%;
  left: 37%;
  height: 20px;
  width: 25%;
  position: fixed;
  z-index: 9999990;
  border-left: solid 2px silver;
  border-top: solid 2px silver;
  border-bottom: solid 2px silver;
  border-right: solid 2px silver;
  border-radius: 5px; 
}

/* media overrides for smaller screens
   added as part of supporting AndroidOS
*/
@media (max-width: 600px) {
   div.tranquility_links {
     font-size: 15px;
   }
   div.tranquility_offline_links {
     font-size: 15px;
   }
   div.tranquility_more_links_btn {
     font-size: 15px;
   }
   div.tranquility_read_later_btn {
     font-size: 15px;
   }
   div.tranquility_offline_links_btn {
     font-size: 15px;
   }
   div.tranquility_viewnotes_btn {
     font-size: 15px;
   }
   div.tranquility_expand_menu_btn {
     font-size: 15px;
   }
   span.tranquility_annotation {
     font-size: 15px;
   }
}
