html, body {
  width: 150px;
}

.tranquility_actions {
  padding: 4px;
  text-align: center;
  font-size: 1em;
  background-color: #F0F8FF;
  cursor: pointer;
}

.tranquility_actions:hover {
  background-color: #B0C4DE;
}

.tranquility_actions_separator {
  border-top: solid 2px silver;
}
